@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

html {
  margin: 0;
  padding: 0;
  //background-image: url(image-path('noun_11018_cc.png'));
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 1024px;
  height: 100%;
  margin: 0 auto 0 auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  text-align: center;
  color: rgb(183, 47, 75);
  font-weight: 300;
  padding-top: 15px;
  padding-left: 20px;
}

p, #place_data {
  line-height: 1.5em;
  padding: 15px 0 0 15px;
  text-align: justify;
}

.field, .actions {
  padding: 10px 0 10px 0;
}

